---
layout : "default"
title : "TGPM"
customcopyright : true
copyrightnotice : "Cover image: Visualizing Friendships. Photo: Paul Butler / Facebook Engineering 2010."
hidetitle : true
---

<div id="page-title" style="margin-top: 0; background: black url(/img/163413_479288597199_8388607_n.jpg) center center fixed repeat-x; padding: 125px 0; color: white;"><h1 style="text-shadow: 1px 1px 2px #333;">Thế Giới Phẳng Monthly</h1></div>

<p><strong>Thế Giới Phẳng Monthly</strong> (TGPM) là ấn phẩm tiếng Việt tại Hoa Kỳ với mục đích mang đến cho các độc giả và thính giả các thông tin miễn phí chất lượng cao nhất từ các nguồn khắp nơi vể các chủ đề kinh tế, văn hóa, khoa học, xã hội, công nghệ,... dưới dạng đọc và đối chiếu trực tuyến trên web, hoặc đọc bằng ebook hoặc nghe bằng podcast (trong thời gian tới). TGPM quan tâm đến những chủ đề không chỉ tồn tại ở Việt Nam, mà tồn tại ở khắp mọi nơi trên thế giới của chúng ta, một thế giới ngày càng trở nên phẳng và liên kết hơn từng ngày.</p>

<p>Thế Giới Phẳng không phải là trang tin thời sự hay chính trị.</p>

<h2>Nội dung nổi bật</h2>

<ul>
{{ range .site.posts }}
{{ if .featured }}
<li><a href="{{ .url }}">{{ .title }}</a></li>
{{ end }}
{{ end }}
</ul>

<h2>Bản quyền</h2>

<p>Thế Giới Phẳng là một dự án độc lập của một nghiên cứu sinh ngành sinh học và khoa học máy tính người Việt tại Hoa Kỳ.</p>

<p>Nội dung của TGPM có sự đóng góp của các nhà dịch giả, học giả, trí thức và sinh viên khắp mọi nơi. Trừ các ngoại lệ được chú thích, nội dung trên trang web được phát hành dưới giấy phép mở Creative Commons 3.0. Các bài viết gửi đến TGPM mặc định đồng ý việc đưa lại nội dung đóng góp dưới giấy phép CC 3.0.</p>

<p>Nếu Quý vị có đóng góp gì cho chúng tôi, xin gửi email tới _@tgpm.net. </p>
